body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a .disabled {
  opacity: 0.3;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

a.disabled {
  opacity: 0.3;
  color: #00B7FF;
  cursor: default;
}

.spacing {
  margin-bottom: 20px;
}

input.not-unique,
input.invalid-credentials,
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
